div {
    min-width:300px;
}

h2{
    font-size:0.9em;
    background-color: purple ;
    color:#ffffff;
    margin-top:25px;
    margin-left:50px;
    padding:5px 15px;
    padding-bottom:7px;
    text-align:center;
    font-weight:bold;
}

ul {
    list-style: none;
}

mat-card{
    background-color:#F9F9F9;
    position:relative;
    width:84%;
}

mat-card button{
    position:absolute;
    right:10px;
    top:5px;
}